.tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table {
    border-collapse: collapse;
}

.table td {
    font-size: 200px;
    max-width: 180px;
    height: 200px;
    /* border: 1px white solid; */
    text-align: center;
    vertical-align: bottom;
}

.tableImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.merriweatherLight {
    font-family: "Merriweather", serif;
    font-weight: 300;
}

.neonText {
    animation: flicker 1.5s infinite alternate;
    animation-delay: 6s;
    color: #fff;
    /* text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(224, 255, 245),
      0 0 152px rgb(236, 255, 249);
      */
  } 

  @keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(224, 255, 245),
        0 0 152px rgb(236, 255, 249);
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  