/* components/SpinningWordsTable.module.css */
.table {
    border-collapse: collapse;
    width: auto;
    margin: 20px auto;
  }
  
  .cell {
    border: 1px solid #ddd;
    background-color: #000046;
    padding: 20px;
    text-align: center;
    font-size: 44px;
    font-family: Arial, sans-serif;
    width: 50px;
    height: 50px;
  }
  
  .spin {
    display: inline-block;
  }
  
  @keyframes spin {
    0% {
      transform: rotateX(-90deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  